html, body {
	font-size: .28rem;
	background: #fff;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 7.2rem;
	margin: 0 auto;
	overflow-x: hidden;
}

.placeholder {
	position: fixed;
	top: 0;
	width: 7.2rem;
	height: 3.2rem;
	background: #fff;
	z-index: 100;
}

.content-top {
	position: fixed;
	top: 0;
	z-index: 999;
}

.swiper-container, .swiper-container .banner {
	width: 7.2rem;
	height: 3.2rem;
}

.swiper-pagination-bullet-active {
	background: rgba(255, 255, 255, 0.8) !important;
}

.tab {
	width: 7.2rem;
	height: .8rem;
}

.tab ul {
	display: flex;
	border-bottom: 1px solid #DADADA;
	/*box-shadow: 1px 1px 20px #E1E1E1;*/
}

.tab ul i {
	position: absolute;
	display: inline-block;
	width: 14%;
	height: 2px;
	bottom: 0;
	left: 5.3%;
	background: #FF8181;
	transition: left .3s;
}

.tab ul li {
	position: relative;
	display: inline-block;
	width: 25%;
	text-align: center;
	background: #fff;
}

.tab ul li span {
	display: inline-block;
    width: 99%;
    height: .4rem;
    margin: .2rem 0;
    border-right: 1px solid #C1C1C1;
}

.tab ul li:last-of-type span {
	border-right: none;
}

.active {
	color: #FF8181;
}

._placeholder {
	width: 7.2rem;
	height: 4.2rem;
	background: #F5F5F5;
}

.content-body {
	position: relative;
	left: 0;
	width: 400%;
	z-index: 99;
	transition: left .3s;
}

.content-body > div {
	float: left;
	width: 23.5%;
	padding: 0 .2rem .5rem;
}

.blog ul li {
	display: block;
	padding-bottom: .2rem;
	border-bottom: 1px solid #D4D4D4;
}

.blog ul li:last-child {
	border-bottom: none;
}

.blog ul li:before {
	content: '';
	display: inline-block;
	width: .3rem;
	height: .3rem;
	margin-bottom: -.32rem;
	background: url(../img/pen.ico) no-repeat center center / cover;
}

.blog ul li a {
	display: block;
    padding-left: .32rem;
    margin-top: -.1rem;
	text-decoration: none;
	font-size: .26rem;
	color: #000;
	line-height: .45rem;
}