pre {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    background: #fff;
}

::selection {
    background: #FFDDDD;
    color: #6A0C0C;
}

.content {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
}

img {
    max-width: 800px;
}

pre {
    overflow: auto;
    padding: 20px 0 10px 0;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    border: 1px solid #B3B4EF;
    box-shadow: 1px 1px 20px rgb(161, 164, 206)
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cl-red {
    color: #FF2121;
}

h4,h5 {
    color: #0CA80C;
}